{% block header %}
<div class="columns is-multiline">
  <div class="column is-one-fifth p-4 pt-6">
    <figure class="image is-128x128">
      <img class="is-rounded" src="../static/images/herzen-logo-small-orig.png">
    </figure>
  </div>
  <div class="column is-three-fifths p-4 pt-6">
    <h6 class="card-subtitle h2 is-family-code">Российский Государственный Педагогический Университет им. А. И. Герцена</h6>
    <hr class="bg-dark m-1">
    <p class="card-text h3 is-family-code"><strong>Кафедра информационных технологий и электронного обучения</strong></p>
  </div>
  <div class="column is-one-fifth has-text-centered p-4 pt-6">
    <a href=""><button class="button is-danger">Вход</button></a>
  </div>
</div>
{% endblock %}
