{% block reviews %}
<div class="is-size-3 has-text-centered">
    <p>Отзывы</p>
</div>
{% for review in reviews -%}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ review.name }}</p>
                    <p class="subtitle is-6">{{ review.email }}</p>
                </div>
            </div>
            <div class="content">
                {{ review.review }}
            </div>
        </div>
    </div>
{%- endfor %}
{% endblock %}